*{
	box-sizing: border-box;
	vertical-align:left;
}

form{
	flex-direction: column;
    padding: 70px 100px;
	align-items: left;
	position:relative;
	top:50%;
    border:3px solid #104E8B;
	width:650px;
	height:400px;
	display: flex;
}

#input{
	margin:10px 0px 10px 0px;
	width:200%;
	height:3em;
}


#value{
	text-align:center;
	display:inline-block;
	font-family: 'Times New Roman', Serif;
	border:2px solid #104E8B;
	width:100px;
	height:40px;
	font-size:15px;
	color: azure;
	font-weight:350;
	padding-top:8px;
	background-color:#2E8BC0;
}

#gender{
    margin:1%;
	font-family: 'Times New Roman', Serif;
	font-size:18px;
	font-weight:500;
}

input,select{
	margin-left:20px;
    width:20px;
	height:20px;
    font-size:13px;
	border:2px solid #104E8B;
}

input[type='text']{
	width:350px;
	height:39px;
}

select{
	width:350px;
	height:39px;
}

button{
	margin-top:25px;
	margin-left:150px;
	width:150px;
	height:50px;
	padding:5px;
	border:2px solid #104E8B;
	color: azure;
	font-family: 'Times New Roman', Serif;
	font-size:20px;
	font-weight:550;
	border-radius:10px;
	background-color: #228B22 ;
}
